// Variables
@dark-red: #9c0505;
@heart-size: 48px;

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// Global
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body { width: 100%; height: 100%; overflow: auto; }
body { .box-shadow(inset 0 0 250px rgba(156,5,5,0.5)); background-image: url(../images/bg.jpg); background-size: cover; background-position: top center; color: #fff; font: 16px/1em @font-family-sans; min-height: 100%; }
a { text-decoration: none; }
a:hover { cursor: pointer; text-decoration: none; }
.container { width: 100%; height: 100%; }
.main-content { text-align: center; width: 100%; height: 100%;
	&:before { content: ''; display: inline-block; margin-right: -0.25em; height: 100%; vertical-align: middle; }
	&.loading {
		&:after { background: rgba(156, 5, 5, 0.75); content: ''; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; animation: fadeInDown 1s; }

		/* :not(:required) hides this rule from IE9 and below */
		.loading-animation:not(:required) { display: inline-block; margin: -(@heart-size / 2) 0 0 -(@heart-size / 2); position: absolute; top: 50%; left: 50%; overflow: hidden; .hide-text(); width: @heart-size; height: @heart-size; z-index: 10; .transform( rotate(45deg) ); .transform-origin(50% 50%);
			&:after, &:before { position: absolute; content: ""; background: #fff; }
			&:before { .border-left-radius(@heart-size / 3); top: @heart-size / 3; left: 0; width: @heart-size; height: (2 * @heart-size / 3); }
			&:after { .border-top-radius(@heart-size / 3); top: 0; left: @heart-size / 3; width: (2 * @heart-size / 3); height: (@heart-size / 3) + 1; }
		}
	}

	.centered { display: inline-block; margin: 20px 0; vertical-align: middle; width: 90%; }
	.statement { background: rgba(156, 5, 5, 0.65); font: 42px/1em @font-family-sans; margin: 0 0 20px; padding: 60px 40px; text-align: left; width: 100%; }
}
.visual,
.logo,
.loading-animation { display: none; }
.logout { padding: 0 0 10px; }

// Buttons
.btn { background: @dark-red; border: 0 none; color: #fff; display: block; line-height: 1em; padding: 25px 40px; text-transform: uppercase; text-align: center;
	&:hover { cursor: pointer; text-decoration: none; }
	&.btn-lg { font-size: 24px; }
}

// Dropdown
.wrap-dd-select { background: #fff; border: 0 none; .border-radius(0); .box-shadow(none); color: @dark-red; display: block; font-weight: normal; padding: 0; width: auto;
	&:after { display: none; }
	&.active {
		.dropdown { visibility: visible; }
	}
	.dropdown { .border-radius(10px); left: 50%; margin: 8px 0 0 -50%; width: 100%; overflow: 0; visibility: hidden;
		&:before,
		&:after { border-width: 0 16px 16px 16px; right: 50%; margin: 0 -16px 0 0; }
		li {
			&:hover {
				a { background: lighten(@dark-red, 60%); }
			}
			a { color: @dark-red; font-size: 32px; }
		}
	}
}

// Modules
.page-login {
	h1 { margin: 0 0 40px; text-shadow: 1px 1px 0 #000;
		span { display: inline-block; font: 24px/1em @font-family-sans; margin: 0 0 20px; text-transform: uppercase; }
		strong { font: 48px/1.25em @font-family-script; text-transform: none; }
	}
}

.page-start {
	.statement {
		.content-editable { background: #fff; border: 0 none; color: @dark-red; display: inline-block; outline: none; min-width: 100px; }
	}
}

.page-results { text-align: center;
	.statement { font-size: 20px; line-height: 1.5em; margin: 0 0 20px;
		a { border-bottom: 3px solid #fff; color: #fff; }
	}
	.share { margin: 0; padding: 0; list-style: none;
		li { display: inline-block;
			&.facebook .share { .sprite-block(0, 0, 44px, 44px); }
			&.twitter .share { .sprite-block(-49px, 0, 44px, 44px); }
		}
	}
}


// Tablet
@media screen and (min-width: 768px) {
	.logo { .ir( 164px, 78px, 'logo.png' ); position: absolute; bottom: 20px; right: 20px; }
	.btn { display: inline-block; padding: 25px 40px; }
	.main-content {
		.centered { width: 50%; }
		.statement { margin: 0 0 40px; text-align: center; text-shadow: 1px 1px 0 #000; }
		.visual { .size(232px, 120px); display: block; margin: 0 auto 40px; position: relative;
			.figure { background-position: center center; position: absolute; margin: -70px 0 0; top: 50%; animation: bounceIn 1s;
				&.figure-1 { left: 50px; }
				&.figure-2 { right: 50px; }
				&.male { .ir(61px, 120px, 'man.png'); }
				&.female { .ir(61px, 120px, 'woman.png'); }
				&.both { .ir(61px, 120px, 'both.png'); }
			}
		}
		.logout { color: #000; font-size: 12px; font-weight: bold; position: absolute; top: 10px; right: 10px; }
	}
	.wrap-dd-select { background: transparent; border-bottom: 3px solid #fff; color: #fff; display: inline-block; margin: 0 0 5px;
		.dropdown { margin: 8px 0 0 -200px; text-shadow: none; width: 400px; }
	}

	.page-login {
		h1 {
			strong { font-size: 72px; }
		}
	}
	.page-start {
		.statement {
			.content-editable { background: transparent; border-bottom: 3px solid #fff; color: #fff; }
		}
	}
	.page-results {
		.statement { font-size: 28px; }
	}
}