<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a ng-href="#">Home</a></li>
		<li><a ng-href="#">About</a></li>
		<li><a ng-href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">valentine date generator</h3>
</div>

<div class="jumbotron">
	<h2 ng-hide="user">Login with Facebook</h2>
	<h2 ng-show="user">Logged in as: {{user.name}}</h2>
	<p><a class="btn btn-lg btn-success" ng-href="#" ng-hide="user" ng-click="login()">Login</a></p>
	<p><a class="btn btn-lg btn-success" ng-href="#" ng-show="user" ng-click="logout()">Logout</a></p>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Gender</th>
			<th>Location</th>
			<th>Relationship Status</th>
			<th>Significant Other</th>
		</tr>
	</thead>
	<tbody>
		<tr class="success">
			<td>{{user.name}}</td>
			<td>{{user.gender}}</td>
			<td>{{user.location.name}}</td>
			<td>{{user.relationship_status}}</td>
			<td>{{user.significant_other.name}}</td>
		</tr>
		<tr ng-repeat="friend in user.friends.data">
			<td>{{friend.name}}</td>
			<td>{{friend.gender}}</td>
			<td>{{friend.location.name}}</td>
			<td>{{friend.relationship_status}}</td>
			<td>{{friend.significant_other.name}}</td>
		</tr>
	</tbody>
</table>

<div class="footer">
	<p>♥ from the TRY team</p>
</div>