<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a ng-href="#">Home</a></li>
		<li><a ng-href="#">About</a></li>
		<li><a ng-href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">valentine date generator</h3>
</div>

<div class="jumbotron">
	<h1>Questionaire View</h1>
	<h2 ng-hide="auth.user">Login with Facebook</h2>
	<h2 ng-show="auth.user">Logged in as: {{auth.user.name}}</h2>
	<p><a class="btn btn-lg btn-success" ng-href="" ng-hide="auth.user" ng-click="auth.login()">Login</a></p>
	<p><a class="btn btn-lg btn-success" ng-href="" ng-show="auth.user" ng-click="auth.logout()">Logout</a></p>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Picture</th>
			<th>Name</th>
			<th>Gender</th>
			<th>Location</th>
			<th>Relationship Status</th>
			<th>Significant Other</th>
		</tr>
	</thead>
	<tbody>
		<tr class="success">
			<td><img ng-src="{{fbdata.picture.data.url}}" alt=""></td>
			<td>{{fbdata.name}}</td>
			<td>{{fbdata.gender}}</td>
			<td>{{fbdata.location.name}}</td>
			<td>{{fbdata.relationship_status}}</td>
			<td>{{fbdata.significant_other.name}}</td>
		</tr>
		<tr ng-repeat="friend in fbdata.friends.data">
			<td><img ng-src="{{friend.picture.data.url}}" alt=""></td>
			<td>{{friend.name}}</td>
			<td>{{friend.gender}}</td>
			<td>{{friend.location.name}}</td>
			<td>{{friend.relationship_status}}</td>
			<td>{{friend.significant_other.name}}</td>
		</tr>
	</tbody>
</table>

<div class="footer">
	<p>♥ from the TRY team</p>
</div>