<div class="page-start main-content">
	<div class="statement">
		I want to take a
		<div dropdown-select="genderChoices" dropdown-model="selectedGender" dropdown-onchange="updateUserPrefs()"></div>
		on a date in
		<span class="content-editable" ng-model="userPreferences.location" contenteditable strip-br="true">{{userPreferences.location}}<span>
	</div>
	<a class="btn btn-lg" ng-href="" ng-click="planDate()">Plan My Date</a>
	<!-- <a class="btn btn-lg" ng-href="" ng-click="firebaseAuth.$logout()">Logout</a> -->
	<div id="map"></div>
</div>