<div class="main-content page-start" ng-class="{loading: loading}">
	<div class="centered">
		<div class="statement">
			<div class="visual">
				<div class="figure figure-1" ng-class="{male: user.gender === 'male', female: user.gender === 'female', both: user.gender === 'undefined'}"></div>
				<div class="figure figure-2" ng-class="{male: userPreferences.gender === 'male', female: userPreferences.gender === 'female', both: userPreferences.gender === 'both'}"></div>
			</div>
			I would like to take a
			<div dropdown-select="genderChoices" dropdown-model="selectedGender" dropdown-onchange="updateUserPrefs()"></div>
			on a date in
			<span class="content-editable" ng-model="userPreferences.location" contenteditable strip-br="true">{{userPreferences.location}}<span>
		</div>
		<a class="btn btn-lg" ng-href="" ng-click="planDate()">Plan My Date</a>
	</div>
	<div id="map"></div>
	<a class="logout" ng-href="" ng-click="firebaseAuth.$logout()">Logout</a>
	<div class="loading-animation">Loading...</div>
</div>